/* -----------------------------------------------
 *
 * SET VARIABLES ACROSS THE PROJECT
 *
 *----------------------------------------------- */

$grid-max-width: 1000px;

$column-name: span !default;
$column-number: 12; 
$column-margin: 10px;
$column-padding: 20px;
