/* -----------------------------------------------
 *
 * GENERAL TYPOGRAPHIC STYLES
 *
 *----------------------------------------------- */

body{
	font-family: Tahoma, sans-serif;
}

h1{
	font-size: 2em;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}