/* -----------------------------------------------
 *
 * GENERAL PRESENTATION STYLES
 *
 *----------------------------------------------- */

/* We want to be able to SEE the grid blocks */

.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12{
  background: #ddd;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1%;
  margin-bottom: 1%;
}
.grid{
	background: #fff;
}
body{
	background: #999;
}