/* -----------------------------------------------
 *
 * GENERAL PRESENTATION STYLES
 *
 *----------------------------------------------- */

/* We want to be able to SEE the grid blocks */

div[class*="span-"]{
  background: #0dd;
  margin-top: 1%;
  margin-bottom: 1%;
}
.grid{
	background: #fff;
}
body{
	background: #ddd;
}